*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;

}

h1{
    color: darkorange;
    font-size: 100px;
}

.l{
    margin-top: 50px;
    color: rgb(238, 6, 6);
    font-size: 50px;
}

.i{
    margin-top: 50px;
    color: darkolivegreen;
    font-size: 75px;
}

span{
    color: blue;
    text-decoration: underline;
}